--show-version
--threads
1.5C
--batch-mode
--no-transfer-progress
-Dmaven.wagon.http.ssl.insecure=true
-Dorg.slf4j.simpleLogger.showDateTime=true
-Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss
-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
-Djava.awt.headless=true
