<!--
  ~ Copyright 2022 Adrian Herscu
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<settings>
  <servers>
    <!-- ISSUE authentication is required even for reading GitHub package
    repositories; see
    https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-apache-maven-registry -->
    <server>
      <id>github</id>
      <username>adrian-herscu</username>
      <password>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</password>
    </server>
  </servers>
</settings>
