<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2023 Adrian Herscu
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--suppress XmlUnboundNsPrefix -->
<configuration>

  <property name="log.pattern"
            value="%date{HH:mm:ss.SSS} [%-5level] [%-5thread]: %logger{0} - %msg%n"/>
  <property name="log.pattern.nothread"
            value="%date{HH:mm:ss.SSS} [%-5level]: %logger{0} - %msg%n"/>

  <appender name="console"
            class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>${log.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <logger name="com.amazonaws" level="off"/>
  <logger name="org.apache" level="off"/>

  <!-- NOTE: the log root level defaults to trace, but might be overridden via
    a system property, e.g. via a Maven profile defining Surefire/Failsafe system properties  -->
  <root level="${log.root.level:-trace}">
    <appender-ref ref="console"/>
  </root>
</configuration>
