<!--
  ~ Copyright 2023 Adrian Herscu
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- IMPORTANT: do not use the timeout attribute as it interferes with JGiven
  reporting mechanism causing all tests to be reported as failing -->
<!-- ISSUE: with testng-6.14.3, using group dependencies in XML, with or without
  parallel methods, do not order tests as expected. -->
<suite name="QA Orcanos Publisher Maven Plugin" verbose="1"
       group-by-instances="true">

  <!--  <listeners>-->
  <!--    <listener class-name="dev.aherscu.qa.testing.utils.testng.TestRunLogger" />-->
  <!--  </listeners>-->

  <test name="Stubbed Tests" junit="true">
    <classes>
      <class
        name="dev.aherscu.qa.orcanos.publisher.maven.plugin.OrcanosPublisherMojoTest"/>
    </classes>
  </test>

  <test name="Unit Tests">
    <packages>
      <package name="dev.aherscu.qa.orcanos.publisher.maven.plugin"/>
      <package
        name="dev.aherscu.qa.orcanos.publisher.maven.plugin.model"/>
    </packages>
  </test>

</suite>
