<!--
  ~ Copyright 2023 Adrian Herscu
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- Configured to run at most 5 tests in parallel, each one with a 2-threads 
  data provider, that is at most 10 database connections open at once. This 
  number must match the configured connection pool implementation;
  see src/test/resources/unitils.properties -->
<!-- IMPORTANT: do not use the timeout attribute as it interferes with JGiven
  reporting mechanism causing all tests to be reported as failing -->
<suite name="JGiven JDBC Tests Suite" verbose="1"
       data-provider-thread-count="2">
  <test name="development" parallel="methods">
    <packages>
      <package
        name="dev.aherscu.qa.jgiven.jdbc.scenarios"/>
      <package
        name="dev.aherscu.qa.jgiven.jdbc.utils.dbutils"/>
    </packages>
  </test>
</suite>
